mixin offers(title, mods)
  -
    const baseName = 'offers'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .offers(class=allMods)&attributes(attributes)
    .inner
      +ui-h2(title, 'offers, --centered')
      .offers__slider
        .offers__slider-wrapper.swiper-wrapper
          block
