.offers {
  &__goods-item {
    flex-shrink: 0;
    box-shadow: none;
    .goods-item {
      &__info {
        margin-top: 15px;
        padding: 0;
      }
      &__img {
        border-radius: 6px;
        overflow: hidden;
      }
    }
  }
  &--card-auto {
    margin: 100px 0 70px;
    @include media-tablet {
      margin: 50px 0 100px;
    }
    .offers {
      &__ui-h2 {
        margin-bottom: 50px;
        @include media-tablet {
          display: none;
        }
      }
      &__goods-item {
        width: 320px;
        @include media-tablet {
          width: 290px;
        }
      }
    }
  }
}
