mixin slider(mods, sliderData)
  -
    const baseName = 'slider'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .slider(class=allMods)&attributes(attributes)
    .swiper
      .swiper-wrapper
        each item in sliderData
          a.swiper-slide(href='#')
            .slider__img
              img(src=`img/${item.img}`, alt='')
            .slider__title=item.title
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    block
