mixin steps(mods)
  -
    const baseName = 'steps'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .steps(class=allMods)&attributes(attributes)
    .inner
      .steps__item
        +ui-h2('ОСТАВЬ <span class="text-nowrap">ОНЛАЙН-ЗАЯВКУ</span> НА&nbsp;САЙТЕ', 'steps, --centered, --hr')
        +ui-text('Теперь вам не обязательно заранее приезжать в прокат авто, чтобы выбрать подходящую модель. Теперь это можно сделать в режиме онлайн. Вы можете подробно ознакомиться с любым представленным автомобилем, а потом просто выбрать в заявке тот, который вам наиболее понравился. Кроме того, там же необходимо указать срок аренды, на который вы хотите взять машину, и свои контактные данные (в том числе паспорт и водительские права). После чего с вами обязательно свяжется наш менеджер. При этом вы можете выбрать время, в какое вам удобнее будет перезвонить. После уточнения определенных моментов и получения разрешения, чтобы взять авто в аренду, вы указать место, откуда и когда вам удобнее будет забрать машину.')
      .steps__item
        +ui-h2('ВНЕСИ ОПЛАТУ', 'steps, --centered, --hr')
        +ui-text('Для того чтобы упростить процесс оплаты для иногородних гостей и просто чтобы сэкономить ваше время, мы предлагаем вам безналичный расчет. Благодаря этому вы можете заранее спланировать свое путешествие или рабочий день, избавив себя от необходимости приезжать непосредственно в офис. В совокупности с возможностью выбрать автомобиль онлайн, услуга будет крайне удобна для людей, приезжающих в командировку, которая оплачивается работодателем. Как минимум, все возникающие вопросы можно будет обсудить до поездки, а не в чужом городе на удаленном расстоянии.')
      .steps__item
        +ui-h2('ПОЛУЧИ МАШИНУ В&nbsp;АРЕНДУ', 'steps, --centered, --hr')
        +ui-text
          p Последний шаг самый простой. Вам всего лишь необходимо забрать авто в определенное время (о котором вы договоритесь с нашим менеджером) и месте, которое вам удобно. Там вас уже будет ожидать чистый автомобиль с полностью заправленным бензобаком.
          p Как вы видите, все достаточно просто. А всё потому, что мы доверяем нашим клиентам и хотим, чтобы нам легко было взаимодействовать друг с другом. Всего три шага и никаких бюрократических сложностей – вот почему к нам обращаются снова и снова. А мы, в свою очередь,  идем навстречу и всегда рады помочь с выбором наиболее подходящего автомобиля.
    block
