.breadcrumbs {
  padding-top: 35px;
  @include media-tablet {
    padding-top: 15px;
  }
  &__list {
    display: flex;
    align-items: center;
    @include media-tablet {
      overflow-y: auto;
    }
  }
  &__item {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
    font: 300 12px/1.2 $geometria;
    white-space: nowrap;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 1px;
      background: #aaa;
    }
    @include media-tablet {
      font-size: 12px;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &--grey-bg {
    background-color: $greyBlock;
  }
}
