.breadcrumbs {
  padding-top: 35px;
  @include media-tablet {
    padding-top: 15px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    margin-right: 15px;
    padding-left: 20px;
    font: 300 12px/1.2 $geometria;
    white-space: nowrap;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 1px;
      background: #aaa;
    }
    &:first-child {
      padding-left: 0;
      &::after {
        display: none;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &--grey-bg {
    background-color: $greyBlock;
  }
}
