.contact-us {
  margin-top: 120px;
  @include media-tablet {
    margin-top: 90px;
    background-color: $greyBlock;
  }
  &__wrapper {
    position: relative;
    display: flex;
    min-height: 350px;
    padding: 40px 145px 20px 90px;
    background-color: $greyBlock;
    @include media-laptop {
      padding: 40px 40px 20px;
    }
    @include media-tablet {
      min-height: auto;
      padding-bottom: 130px;
      flex-direction: column;
      background-color: none;
    }
    @include media-mobile {
      padding: 40px 5px 130px;
    }
  }
  &__info {
    width: 44%;
    margin-right: 20px;
    @include media-tablet {
      width: auto;
      margin: 0;
    }
  }
  &__txt {
    font: 400 25px/1.2 $geometria;
    @include media-laptop {
      font-size: 20px;
    }
    @include media-tablet {
      font-size: 16px;
      text-align: center;
    }
  }
  &__img {
    max-width: 340px;
    margin-top: 5px;
    margin-left: 50px;
    @include media-tablet {
      position: absolute;
      bottom: 25px;
      left: 50%;
      width: 180px;
      margin: 0;
      transform: translateX(-50%);
    }
  }
  &__form {
    width: 44%;
    margin-left: auto;
    @include media-tablet {
      width: 100%;
      max-width: 500px;
      margin: 20px auto 0;
    }
  }
  &__ui {
    &-h2 {
      margin-bottom: 15px;
      @include media-tablet {
        margin-bottom: 10px;
        text-align: center;
      }
    }
    &-input {
      &:not(:first-child) {
        margin-top: 10px;
        @include media-tablet {
          margin-top: 15px;
        }
      }
    }
    &-button {
      margin-top: 20px;
      @include media-tablet {
        width: 100%;
        padding: 10px 22px;
        font-size: 13px;
      }
    }
    &-checkbox {
      margin-top: 20px;
    }
  }
}
