.ui-h2 {
  font: 700 34px/1.1 $geometria;
  text-transform: uppercase;
  @include media-laptop {
    font-size: 30px;
  }
  @include media-tablet {
    font-size: 22px;
  }
  &--centered {
    text-align: center;
    @include media-tablet {
      text-align: start;
    }
  }
  &--hr {
    &::after {
      content: '';
      display: block;
      width: 165px;
      height: 2px;
      margin-top: 15px;
      background-color: $red;
      @include media-tablet {
        margin-top: 20px;
        width: 100px;
      }
    }
    &.ui-h2--centered {
      &::after {
        margin-left: auto;
        margin-right: auto;
        @include media-tablet {
          margin-left: 0;
        }
      }
    }
  }
  &--bigger {
    font-size: 42px;
    @include media-laptop {
      font-size: 30px;
    }
    @include media-tablet {
      font-size: 22px;
    }
  }
}
