.footer {
  flex: 0 1;
  &__menu {
    display: flex;
    padding: 30px 0;
    @include media-laptop {
      display: none;
    }
  }
  &__link {
    font: 600 14px/1.4 $montserrat;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__content {
    padding: 45px 0 65px;
    background-color: $greyBlock;
    @include media-tablet {
      padding: 35px 0 30px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    width: 193px;
    height: 40px;
    @include media-tablet {
      width: 160px;
      height: 30px;
      margin-bottom: 20px;
    }
    &:hover {
      color: $black;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    @include media-tablet {
      flex-direction: column;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    @include media-tablet {
      margin-bottom: 25px;
    }
  }
  &__mess {
    width: 26px;
    height: 26px;
    @include media-tablet {
      width: 20px;
      height: 20px;
    }
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    @include media-laptop {
      flex-direction: column;
    }
    @include media-tablet {
      margin-top: 25px;
    }
  }
  &__address {
    position: relative;
    padding-left: 30px;
    font: 500 15px/1.5 $montserrat;
    @include media-tablet {
      max-width: 210px;
      padding-left: 20px;
      font-size: 12px;
      text-align: center;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 19px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='19' viewBox='0 0 13 19' fill='none'%3E%3Cpath d='M6.72957 0.0039601C3.03448 -0.126074 0 2.96303 0 6.79217C0 11.1378 3.9937 14.2916 6.23217 18.8271C6.34582 19.0574 6.66328 19.0577 6.77732 18.8275C8.80234 14.7464 12.2634 12.0098 12.9048 8.07816C13.5689 4.00967 10.6796 0.143021 6.72957 0.0039601ZM6.50443 10.3499C4.62278 10.3499 3.09736 8.757 3.09736 6.79217C3.09736 4.82735 4.62282 3.23442 6.50443 3.23442C8.38607 3.23442 9.91153 4.82735 9.91153 6.79217C9.91153 8.757 8.38607 10.3499 6.50443 10.3499Z' fill='%233498DB'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__policy {
    display: flex;
    justify-content: space-between;
    font: 400 15px/1.3 $montserrat;
    color: $grey;
    @include media-laptop {
      margin-top: 30px;
    }
    @include media-tablet {
      margin-top: 25px;
      flex-direction: column;
      font-size: 12px;
    }
    &-item {
      &:not(:last-child) {
        position: relative;
        padding-right: 15px;
        @include media-tablet {
          margin-bottom: 10px;
          padding-right: 0;
        }
        &::after {
          content: '|';
          position: absolute;
          top: 0;
          right: 0;
          color: $grey;
          @include media-tablet {
            content: '';
          }
        }
      }
      &:not(:first-child) {
        padding-left: 15px;
        @include media-tablet {
          padding-left: 0;
        }
      }
    }
  }
  &__made {
    display: flex;
    align-items: center;
    @include media-laptop {
      margin-top: 30px;
    }
    @include media-tablet {
      margin-top: 25px;
    }
    &-txt {
      margin-right: 20px;
      font: 300 14px/1.1 $geometria;
      @include media-tablet {
        font-size: 10px;
        margin-right: 15px;
      }
    }
    &-link {
      width: 107px;
      height: 15px;
      @include media-tablet {
        width: 88px;
        height: 11px;
      }
    }
  }
  &__footnote {
    padding: 10px 0;
    background-color: $black;
    color: #fff;
    &-txt {
      font: 400 15px/1.2 $montserrat;
      text-align: center;
      @include media-tablet {
        font-size: 12px;
      }
    }
  }
}
