-
  const footer=[
    'Автопарк / тарифы',
    'Расчёт стоимости',
    'Заявка',
    'Условия аренды',
    'О КОМПАНИИ',
    'Контакты',
  ]

footer.footer
  .inner
    ul.footer__menu
      each link in footer
        li.footer__link
          a(href='#')=link
  .footer__content
    .inner
      .footer__top
        a.footer__logo(href='/')
          img(src='img/svgs/icon_logo.svg', alt='')
        .footer__contacts
          .footer__socials
            a.footer__mess(href='#')
              img(src='img/svgs/icon_wa.svg', alt='')
            a.footer__mess(href='#')
              img(src='img/svgs/icon_viber.svg', alt='')
          +drop-phones('--grey')
      .footer__bot
        a.footer__address(href='#') ул. Ново-Рыбинская, д. 19/21, БЦ&nbsp;"Квартал", офис 318
        .footer__policy
          a.footer__policy-item(href='#') Политика конфиденциальности
          a.footer__policy-item(href='#') Пользовательское соглашение
        .footer__made
          .footer__made-txt Разработка сайта
          a.footer__made-link(href='#')
            img(src='img/svgs/icon_made-logo.svg', alt='')
  .footer__footnote
    .inner
      .footer__footnote-txt Информация, представленная на сайте, не&nbsp;является публичной офертой.
