// fonts
$geometria: 'Geometria', 'Arial', sans-serif;
$montserrat: 'Montserrat', 'Arial', sans-serif;

// colors
$black: #000;
$blue: #3498db;
$green: #34db63;
$greyBlock: #f6f6f6;
$greyLight: #717171;
$greyInput: #dcdcdc;
$grey: #4a4a4a;
$red: #de3131;

// media
$mediaWidthLaptop: 1450px;
$mediaWidthTabletHorizontal: 999px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 540px;
