.order-form {
  padding: 105px 0 100px;
  background-color: $greyBlock;
  @include media-laptop {
    padding: 50px 0;
  }
  @include media-tablet {
    padding: 30px 0 50px;
  }
  &__top {
    display: grid;
    grid-template-columns: 48% 41%;
    gap: 80px 90px;
    @include media-laptop {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  &__block {
    margin-top: 70px;
    @include media-tablet {
      margin-top: 20px;
    }
    &:last-child {
      @include media-tablet {
        margin-top: 50px;
      }
    }
  }
  &__ui {
    &-h2 {
      grid-column: span 2;
      @include media-laptop {
        grid-column: unset;
        margin: 40px 0 50px;
      }
      @include media-tablet {
        font-size: 24px;
      }
    }
    &-select,
    &-input,
    &-datepicker {
      width: 323px;
      @include media-laptop {
        width: 100%;
      }
      &:not(:last-child) {
        margin-right: 30px;
        @include media-laptop {
          margin-right: 0;
        }
      }
    }
    &-checkbox {
      margin-top: 15px;
    }
    &-button {
      @include media-tablet {
        width: 100%;
        padding: 15px 20px;
      }
    }
  }
  &__line {
    display: flex;
    @include media-laptop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @include media-tablet-horizontal {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @include media-tablet {
        margin-bottom: 20px;
      }
    }
  }
  &__ban {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    overflow: hidden;
    align-self: flex-start;
    @include media-laptop {
      max-width: 500px;
      margin: 0 auto;
      order: -1;
    }
    &-img {
      width: 100%;
    }
    &-total {
      display: flex;
      padding: 40px 25px 20px;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
      @include media-laptop {
        padding: 15px;
      }
      @include media-tablet {
        padding: 15px 5px;
      }
    }
    &-txt {
      margin-right: 10px;
      font: 500 24px/1.2 $geometria;
      @include media-laptop {
        font-size: 16px;
      }
    }
    &-price {
      font: 500 48px/1.2 $geometria;
      color: $blue;
      @include media-laptop {
        font-size: 25px;
      }
      @include media-tablet {
        font-size: 20px;
      }
    }
  }
}
