.ui-datepicker {
  position: relative;
  &:hover {
    .icon_calendar {
      color: $green;
    }
  }
  input {
    width: 100%;
    padding: 15px 20px 15px 65px;
    font: 16px/1.5 $montserrat;
    background: #fff;
    border: 1px solid $greyInput;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    &::placeholder {
      color: $black;
    }
  }
  label {
    display: block;
    margin-top: 5px;
    font: 500 15px/1.2 $montserrat;
    color: $greyLight;
    pointer-events: none;
  }
  .svg-icon--icon_calendar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 17px;
    height: 17px;
    color: $green;
    transition: 0.3s ease;
    pointer-events: none;
    @include media-tablet {
      right: 15px;
    }
  }
  &--single {
    input {
      &.active ~ label {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
    label {
      &::before {
        content: '';
        position: absolute;
        top: 27px;
        left: 45px;
        width: 8px;
        height: 4px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4' fill='none'%3E%3Cpath d='M4 4L7.03109 0.25H0.968911L4 4Z' fill='black'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in;
      }
    }
  }
  &--range {
    .ui-input {
      width: 235px;
      @include media-tablet {
        width: 200px;
      }
    }
  }
  &--time {
    .svg-icon {
      display: none;
    }
    input {
      padding: 15px 20px;
    }
    label {
      &::before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 7px;
        height: 19px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='19' viewBox='0 0 7 19' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.40204 3.75L3.37094 0L0.339844 3.75H6.40204ZM6.40204 15.25L3.37094 19L0.339844 15.25H6.40204Z' fill='black'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
.flatpickr-calendar {
  width: 250px;
  margin-top: 2px;
  padding: 15px;
  font: 12px/1.4 $montserrat;
  border: 0;
  box-shadow: 0 3px 30px rgb(0 0 0 / 0.1);
  border-radius: 6px;
  &::after,
  &::before {
    display: none;
  }
  .flatpickr-months {
    position: relative;
    height: 26px;
    .flatpickr-prev-month,
    .flatpickr-next-month {
      top: 5px;
      height: 20px;
      padding: 0;
      &:hover {
        svg {
          fill: none;
        }
      }
    }
    .flatpickr-month {
      height: 100%;
      .flatpickr-current-month {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0;
        select {
          text-align-last: center;
        }
        .cur-month {
          font: 400 16px/1.6 $montserrat;
          &:hover {
            background: none;
          }
        }
        .numInputWrapper {
          &:hover {
            background: none;
          }
          input {
            padding: 0;
            margin-left: 5px;
            font: 400 16px/1.6 $montserrat;
            &::selection {
              background: rgb(0 0 0 / 0.1);
            }
          }
          span {
            right: -5px;
            border: 0;
            &:hover {
              background: none;
            }
          }
          .arrowUp,
          .arrowDown {
            &::after {
              width: 6px;
              height: 6px;
              border-bottom: 1px solid $black;
              border-right: 1px solid $black;
              border-left: none;
              border-top: none;
            }
          }
          .arrowUp {
            &::after {
              top: 40%;
              transform: rotate(-135deg);
            }
          }
          .arrowDown {
            &::after {
              top: 7%;
              transform: rotate(45deg);
            }
          }
        }
      }
      .flatpickr-monthDropdown-months {
        padding: 0;
      }
    }
  }
  .flatpickr-weekdays {
    height: 36px;
    padding: 0 5px;
    background: $greyBlock;
    border-radius: 6px;
    .flatpickr-weekday {
      font: 400 14px/1.5 $montserrat;
      color: $black;
    }
  }
  .flatpickr-innerContainer {
    margin-top: 5px;
  }
  .flatpickr-days {
    margin-top: 10px;
    width: 100%;
    .dayContainer {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      .flatpickr-day {
        max-width: 30px;
        height: 30px;
        font: 12px/30px $montserrat;
        border: 0;
        border-radius: 6px;
        box-shadow: none;
        &:nth-last-child(-n+7) {
          display: none;
        }
        &.inRange {
          background: $blue;
          border-radius: 0;
        }
        &.today {
          color: $blue;
          border-color: transparent;
          &:hover {
            background-color: #e6e6e6;
          }
        }
        &.selected {
          color: #fff;
          background: $blue;
        }
        &.startRange {
          border-radius: 6px 0 0 6px;
        }
        &.endRange {
          background: $blue;
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
  &.noCalendar {
    width: 200px;
    @include media-tablet {
      display: none;
    }
    .flatpickr-time {
      border: 0;
      line-height: 1.2;
      input {
        font: 400 18px/1.2 $montserrat;
        &::selection,
        &:focus,
        &:hover {
          background: transparent;
        }
      }
      .numInputWrapper {
        &:hover {
          background: transparent;
        }
        .arrowUp,
        .arrowDown {
          background: transparent;
          border: 0;
          @include media-tablet {
            opacity: 1;
          }
          &::after {
            border-bottom-color: $black;
            border-top-color: $black;
          }
        }
        .arrowUp {
          top: 5px;
        }
      }
    }
  }
}

