extends layouts/layout

block variables
  -const pageTitle ='Index'

block content
  main
    .inner
      br
      br
      +ui-h1(pageTitle)
      a(href='blocks.html') Repository blocks
      br
      a(href='main.html') Главная
      br
      a(href='order.html') Заявка
      br
      br
