extends layouts/layout

block variables
  -const pageTitle ='Main'

block content
  main
    +main-ban
    +main-choice
    +popular
    +car-park
    +required-docs
    +contact-us
    +benefits
    +contract
    +promo-rent
    +info-promo 
