extends layouts/layout

block variables
  -const pageTitle ='Заявка'

block content
  main
    +breadcrumbs('--grey-bg')
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +order-form
    +steps
