mixin text-info(mods)
  -
    const baseName = 'text-info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .text-info(class=allMods)&attributes(attributes)
    .inner
      .text-info__block
        h2.text-info__title Дополнительная информация
        ul.text-info__list
          li Тариф включает пробег 250 км в сутки, перепробег оплачивается в зависимости от класса автомобиля
          li В стоимость аренды включена страховка автомобиля по ОСАГО и КАСКО
          li К оплате принимаются международные кредитные карты
          li Оплата также может быть произведена наличными или по безналичному расчету
          li Компания оставляет за собой право отказать в эксплуатации автомобиля в отдельных регионах России
      .text-info__block
        h2.text-info__title Аренда авто имеет некоторые особенности. Особенно, если клиент прибегает к такому виду услуг впервые, рекомендуется ознакомиться со следующими нюансами:
        p Если в процессе аренды автомобилю причинены повреждения, которые не покрываются страховкой, арендатор обязан их возместить;
        p Аренда автомобиля рассчитывается посуточно. Если клиент оформляет прокат меньше чем на 48 часов, но более чем на 24 часа, то оплата производится за двое суток;
        p Клиент обязан вернуть авто в технически исправном состоянии и в том же внешнем виде, который был при получении машины в прокат.
        p В том случае, если клиент желает продлить аренду, об этом необходимо заранее оповестить агента компании. Если этого не произойдёт, в продлении договора компания имеет право отказать, так как авто может быть забронировано другим клиентом.
        p Наша компания предлагает отличный автомобиль Лифан смайли на прокат на отличных условиях, без бумажной волокиты. Выбрав это авто, вы совместите комфорт и приемлемую цену, а также сэкономите время, которое потратили бы на поездки в общественном транспорте.
          br
          | Мы работаем без выходных и праздничных дней!
      .text-info__block
        h2.text-info__title Прокат автомобиля Lifan Smie 1.3 МТ в Санкт-Петербурге
        p В 2001 году автомобили, произведённые в Китае покорили Российский рынок. За последнее время китайский автопром сделал широкий шаг вперёд, и теперь дешёвые некачественные авто остались в&nbsp;далёком прошлом. Теперь китайские автомобили пользуются большим спросом во всём мире.
        p В 2007 году на автомобильный рынок России вошёл Lifan и почти сразу нашёл своих поклонников.
          br
          | В последнее время авто этой марки пользуется большой популярностью, имеет репутацию качественного автомобиля по приемлемым ценам.
        p Компания «Рент-авто» предлагает аренду Лифан по приемлемым ценам. Lifan остаётся лидером среди автопроизводителей Китая.
    block
