*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
  &.no-scroll {
    position: relative;
    height: 100%;
    overflow: hidden;
    body {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
  }
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: $black;
  transition: ease 0.3s;
  &:hover {
    color: $blue;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}

// defaults
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $geometria;
  color: $black;
  overflow: hidden;
  .inner {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 20px;
    @include media-laptop {
      max-width: 100%;
    }
    @include media-tablet {
      padding: 0 15px;
    }
    .text-nowrap {
      white-space: nowrap;
    }
  }
  main {
    flex: 1 0;
  }
}
