-
  const header=[
    'Автопарк / тарифы',
    'Условия аренды',
    'О КОМПАНИИ',
    'Контакты',
  ]

header.header
  .header__top
    .inner
      a.header__logo(href='/')
        img(src='img/svgs/icon_logo.svg', alt='')
      a.header__address(href='#') ул. Ново-Рыбинская, д. 19/21, БЦ "Квартал", офис 318
      .header__contacts
        a.header__messenger(href='#')
          img(src='img/svgs/icon_wa.svg', alt='')
        a.header__messenger(href='#')
          img(src='img/svgs/icon_viber.svg', alt='')
        +drop-phones('header')
  .header__bot
    .inner
      a.header__logo(href='/')
        img(src='img/svgs/icon_logo--white.svg', alt='')
      ul.header__menu
        each link in header
          li.header__link
            a(href='#')=link
      .header__burger-icon
        img(src='img/svgs/icon_burger.svg', alt='')
      +ui-button('расчет стоимости', 'header, --green').js-popup-form(href='#rent-from')
  .header__burger
    .header__burger-close
      img(src='img/svgs/icon_close.svg', alt='')
    .inner
      a.header__burger-logo(href='/')
        img(src='img/svgs/icon_logo--white.svg', alt='')
      ul.header__burger-menu
        each link, index in header
          li.header__burger-link(class=index==0 ? 'header__burger-link--active' : '')
            a(href='#')=link
      +drop-phones('--black')
      +ui-button('расчет стоимости', '--green').js-popup-form(href='#rent-from')
  +popup-form()#rent-from
