-
  const header=[
    'Автопарк / тарифы',
    'Условия аренды',
    'О КОМПАНИИ',
    'Контакты',
  ]

header.header
  .header__top
    .inner
      a.header__logo(href='/')
        +icon('icon_logo')
      a.header__address(href='#') ул. Ново-Рыбинская, д. 19/21, БЦ "Квартал", офис 318
      .header__contacts
        a.header__messenger(href='#')
          +icon('icon_wa')
        a.header__messenger(href='#')
          +icon('icon_viber')
        +drop-phones('header')
  .header__bot
    .inner
      .header__menu
        each link in header
          a.header__link(href='#')=link
      .header__burger-icon
        +icon('icon_burger')
      +ui-button('расчет стоимости', 'header, --green').js-popup-form(href='#rent-from')
  .header__burger
    +icon('icon_close')
    .inner
      a.header__burger-logo(href='/')
        +icon('icon_logo')
      .header__burger-menu
        each link, index in header
          a.header__burger-link(href='#' class=index==0 ? 'header__burger-link--active' : '')=link
      +drop-phones('--black')
      +ui-button('расчет стоимости', '--green').js-popup-form(href='#rent-from')
  +popup-form()#rent-from
